{% extends "HomeApp/base.html" %}
{% load static %}

{% block main-content %}
    <div class="service-container">
        <h2>Welcome to Mumbo Repair Service Center</h2>
        
        <!-- Container for the image gallery -->
        <div class="container">
            <style>
                div.scroll-container {
                background-color: #333;
                overflow: auto;
                white-space: nowrap;
                padding: 10px;
                }

                div.scroll-container img {
                padding: 10px;
                }
            </style>


            {% comment %} <h2>Image Gallery With Horizontal Scroll</h2>
            <p>Use the horizontal scrollbar to see the other images.</p> {% endcomment %}

            <div class="scroll-container">
            <img src="{% static "HomeApp/images/img1.jpg" %}" alt="Cinque Terre" width="600" height="70vh">
            <img src="{% static "HomeApp/images/img6.jpg" %}" alt="Cinque Terre" width="600" height="70vh">
            <img src="{% static "HomeApp/images/img1.jpg" %}" alt="Cinque Terre" width="600" height="70vh">
            <img src="{% static "HomeApp/images/img6.jpg" %}" alt="Cinque Terre" width="600" height="70vh">
            </div>
            
        </div>
        <p>Here you can request Quote and book next service fo your vehicle</P>
        
        <div class='package-container'>
            <tittle>Service Packages</tittle>
            <h5>Minor Service</h5>
            <h5>Major Service</h5>
        </h2>
        

        <div class="cardHolder">
            <div class="card">
                <div class="card-hearder">
                    <p id="head"> Update profile </p>
                </div>
                <div class="card-body">
                    <img src="{% static "HomeApp/images/default.png" %}">
                </div>
                <div class="card-footer">
                    <div>
                         <a href="{% url "service:profile" %}" class="btn btn-success">Create Profile</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-hearder">
                    <p id="head">Create you Garage</p>
                </div>
                <div class="card-body">
                    <img src="{% static "HomeApp/images/car1.jpg" %}">
                </div>
                <div class="card-footer">
                    <div>
                        <a href="{% url "service:vehicle_management" %}" class="btn btn-warning">Add Vehicle</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-hearder">
                    <p id="head">Request Quote</p>
                </div>
                <div class="card-body">
                    <img src="{% static "HomeApp/images/quote.jpg" %}">
                </div>
                <div class="card-footer">
                    <div>
                        <a href="{% url "service:request_quotation" %}" class="btn btn-primary"> Get Quote </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-hearder">
                    <p id="head">Request Quote</p>
                </div>
                <div class="card-body">
                    <img src="{% static "HomeApp/images/quote.jpg" %}">
                </div>
                <div class="card-footer">
                   <div>
                    <a href="{% url "service:available_slots" %}" class="btn btn-primary"> Available Slots </a>
                   </div>
                </div>
            </div>
        </div>

        <p id="DHC">#Remember Don't Hate Congradulate</p>
        
        
        
        

    </div>
    <style>
        .card-footer > div {
            display:flex;
            align-items: center;  
        }
        #head{
            text-align: center;
            text-decoration: solid;
            font-size: 1rem;
            font-weight: bold;
        }
        .cardHolder{
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card{
            width: 300px;
            margin: 20px;
            {% comment %} margin-right: 5px;
            margin-left: 55px; {% endcomment %}
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
            border-radius: 5px;
        }
        .card-header{
            display: flex;
            text-align: center;
        }
        .card-body > img{
            width: 100%;
            height: 100%;
        }
       .service-container{
        border: none;
        margin: 5px;
        padding: 10px;
        margin-bottom: 30px;
       } 
       h2 , p{
        text-align: center;
       }
       #DHC{
        text-shadow: 1px;
        text-size-adjust: 0.5rem;
        text-decoration: underline;
        color: green;
       }
       * {
        box-sizing: border-box;
        }

        {% comment %} /* Position the image container (needed to position the left and right arrows) */ {% endcomment %}
        .container {
        position: relative;
        }
        img{
            height: 60%;
        }

        {% comment %} /* Hide the images by default */ {% endcomment %}
        .mySlides {
        display: none;
        border: none;
        
        
        }
        .mySlides > img{
            max-height60%;
        }

        {% comment %} /* Add a pointer when hovering over the thumbnail images */ {% endcomment %}
        .cursor {
        cursor: pointer;
        }

        {% comment %} /* Next & previous buttons */ {% endcomment %}
        .prev,
        .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        }

        {% comment %} /* Position the "next button" to the right */ {% endcomment %}
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        {% comment %} /* On hover, add a black background color with a little bit see-through */ {% endcomment %}
        .prev:hover,
        .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        }

        {% comment %} /* Number text (1/3 etc) */ {% endcomment %}
        .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }

        {% comment %} /* Container for image text */ {% endcomment %}
        .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        {% comment %} /* Six columns side by side */ {% endcomment %}
        .column {
        float: left;
        width: 16.66%;
        }

        {% comment %} /* Add a transparency effect for thumnbail images */ {% endcomment %}
        .demo {
        opacity: 0.6;
        }

        .active,
        .demo:hover {
        opacity: 1;
        }
       
    </style>
    {% comment %} This is slider for home page in service app {% endcomment %}
    {% comment %} <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script> {% endcomment %}


{% endblock main-content %}

{% comment %} <a href="{% url "service:" %}"> </a> {% endcomment %}